<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_IProxyService" />
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:3001/MyService/ProxyService"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IProxyService"
                contract="IProxyService" name="WSHttpBinding_IProxyService">
                <identity>
                    <userPrincipalName value="DESKTOP-VI06GSG\dbana" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>