<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
 <system.serviceModel>
  <bindings>
   <wsHttpBinding>
    <binding name="WSHttpBinding_IProxyService" />
    <binding name="WSHttpBinding_IProxyService1" />
    <binding name="WSHttpBinding_IProxyService2" />
    <binding name="WSHttpBinding_IProxyService3" />
    <binding name="WSHttpBinding_IProxyService4" />
    <binding name="WSHttpBinding_IProxyService5" />
    <binding name="WSHttpBinding_IProxyService6" />
    <binding name="WSHttpBinding_IProxyService7" />
    <binding name="WSHttpBinding_IProxyService8" />
    <binding name="WSHttpBinding_IProxyService9" />
   </wsHttpBinding>
  </bindings>
  <client>
   <endpoint address="http://localhost:3001/MyService/ProxyService"
    binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IProxyService"
    contract="ProxyServer.IProxyService" name="WSHttpBinding_IProxyService">
    <identity>
     <userPrincipalName value="DESKTOP-VI06GSG\dbana" />
    </identity>
   </endpoint>
   <endpoint address="http://localhost:3001/MyService/ProxyService"
    binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IProxyService1"
    contract="ServiceReference1.IProxyService" name="WSHttpBinding_IProxyService1">
    <identity>
     <userPrincipalName value="DESKTOP-VI06GSG\dbana" />
    </identity>
   </endpoint>
   <endpoint address="http://localhost:3001/MyService/ProxyService"
    binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IProxyService2"
    contract="ServiceReference1.IProxyService" name="WSHttpBinding_IProxyService2">
    <identity>
     <userPrincipalName value="DESKTOP-VI06GSG\dbana" />
    </identity>
   </endpoint>
   <endpoint address="http://localhost:3001/MyService/ProxyService"
    binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IProxyService3"
    contract="ServiceReference1.IProxyService" name="WSHttpBinding_IProxyService3">
    <identity>
     <userPrincipalName value="DESKTOP-VI06GSG\dbana" />
    </identity>
   </endpoint>
   <endpoint address="http://localhost:3001/MyService/ProxyService"
    binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IProxyService4"
    contract="ServiceReference1.IProxyService" name="WSHttpBinding_IProxyService4">
    <identity>
     <userPrincipalName value="DESKTOP-VI06GSG\dbana" />
    </identity>
   </endpoint>
   <endpoint address="http://localhost:3001/MyService/ProxyService"
    binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IProxyService5"
    contract="ServiceReference1.IProxyService" name="WSHttpBinding_IProxyService5">
    <identity>
     <userPrincipalName value="DESKTOP-VI06GSG\dbana" />
    </identity>
   </endpoint>
   <endpoint address="http://localhost:3001/MyService/ProxyService"
    binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IProxyService6"
    contract="ServiceReference1.IProxyService" name="WSHttpBinding_IProxyService6">
    <identity>
     <userPrincipalName value="DESKTOP-VI06GSG\dbana" />
    </identity>
   </endpoint>
   <endpoint address="http://localhost:3001/MyService/ProxyService"
    binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IProxyService7"
    contract="ServiceReference1.IProxyService" name="WSHttpBinding_IProxyService7">
    <identity>
     <userPrincipalName value="DESKTOP-VI06GSG\dbana" />
    </identity>
   </endpoint>
   <endpoint address="http://localhost:3001/MyService/ProxyService"
    binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IProxyService8"
    contract="ServiceReference1.IProxyService" name="WSHttpBinding_IProxyService8">
    <identity>
     <userPrincipalName value="DESKTOP-VI06GSG\dbana" />
    </identity>
   </endpoint>
   <endpoint address="http://localhost:3001/MyService/ProxyService"
    binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IProxyService9"
    contract="ServiceReference1.IProxyService" name="WSHttpBinding_IProxyService9">
    <identity>
     <userPrincipalName value="DESKTOP-VI06GSG\dbana" />
    </identity>
   </endpoint>
  </client>
 </system.serviceModel>
</configuration>